<script type="text/template" id="template-result">
<div class="row" style="border-bottom: 1px dotted #000; padding: 15px 0 15px 5px; margin-left:0">
<div class="span2">
<a href="<%= link %>" id="item-link" target="_blank" border="0">
<img src="<%= image %>" style="height:auto;width:250px;"/>
</a>
</div>
<div class="span4">
<h3> &#9758; <span id="item-title"><%= title %></span></h3>
- if (admin)
  <h5> Gift match score: <%= score %> (<%= type %>) (<%= bn %>)</h5>
h6
  <%= type_html %>
div(style='padding-top:10px;')
  span
      a#vote-like.vote-like.btn.btn-large.btn-success(target='_blank') Look!
  span(style='padding-left:10px')
      //
        a#vote-dislike.vote-dislike.btn.btn-large.btn-danger Hide this
      <a class="vote-like" href="<%= link %>" target="_blank">See reviews</a>
      a#vote-dislike.vote-dislike(style='cursor: pointer;padding-left:8px') Hide
  //
    span
        a#vote-already-have.vote-already-have.btn.btn-large.btn-info Already have
  - if (admin)
    div.admin-options
      span
        a#vote-admin-boost.vote-admin-boost.btn Admin boost
      span
        a#vote-admin-deboost.vote-admin-deboost.btn Admin deboost
</div>
</div>
</script>
