link(rel='stylesheet', href='/css/bs-r.css')
link(rel='stylesheet', href='/css/style.css')
<link href='http://fonts.googleapis.com/css?family=Diplomata+SC' rel='stylesheet' type='text/css'>
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/js/main.js')
script(src='/js/bs.js')
