div.container

  div.span5.offset3
    div.row
      div.span5.topcontainer.outline
        h1.logo GiftHorse
        //
          div.sublogo
            span.pointer &#9758;
            span.logoblurb <i>Don't waste time shopping.</i>

    div.row
      div.span5.middlecontainer.outline
        form
          h2 &#9758; Looking for the perfect gift?
          p(style='margin-left:30px;') <strong>Don't waste time shopping.</strong> We use special technology to show you the best customized gift choices.
          hr
          div(style='text-align:center')
            h3 This person likes...
            input#search1.input-medium(value='skiing')
            |  and
            input#search2.input-medium(disabled)

            p
              input#search.btn.btn-primary(type='submit', value='Go', style='font-size:15px;font-weight:bold;')

    div#bottom.row(style='display:none;')
      div.span5.outline
        div#loading
          div(style='text-align:center')
            h3 I'm thinkin'...
            img(src='/images/loader.gif')
        div#results.results


//
  div#feedback-modal.modal(style='display:none;')
    div.modal-header
      a.close(data-dismiss='modal') ×
      h2 Feedback
    div.modal-body
      p
        textarea.xlarge(rows=5, cols=80, style='width:500px')#feedback
    div.modal-footer
      a#submit-feedback.btn.btn-primary(data-dismiss='modal') Submit
      a.btn(data-dismiss='modal') Close

<script type="text/template" id="template-result">
<h2> &#9758; <span id="item-title"><%= title %></span></h2>
<h3> Gift match score: <%= score %> (<%= type %>)</h3>
<h3>  <a href="<%= link %>" id="item-link" target="_blank">link</a></h3>
span
    a#vote-yes.btn.btn-large.btn-success Yes
span
    a#vote-no.btn.btn-large.btn-danger No
span
    a#vote-already-have.btn.btn-large.btn-info Already have
- if (admin)
  div.admin-options
    span
      a#vote-admin-boost.btn Admin boost
    span
      a#vote-admin-hide.btn Admin deboost
</script>
