div.container

  div.span7.offset2
    div.row
      div.span7.topcontainer.outline
        h1.logo GiftHorse
        //
          div.sublogo
            span.pointer &#9758;
            span.logoblurb <i>Don't waste time shopping.</i>

    div.row
      div.span7.middlecontainer.outline
        form
          h2 &#9758; Looking for the perfect gift?
          p(style='margin-left:30px;') <strong>Don't waste time shopping.</strong> We use special technology to show you the best customized gift choices.
          hr
          div(style='text-align:center')
            h3 This person likes...
            input#search1.input-medium(value='skiing')
            |  and
            input#search2.input-medium(value='cooking')

            p
              input#search.btn.btn-primary(type='submit', value='Go', style='font-size:15px;font-weight:bold;')

    div#bottom.row(style='display:none;')
      div.span7.outline
        div#loading
          div(style='text-align:center')
            h3 I'm thinkin'...
            img(src='/images/loader.gif')
        div#results.results


//
  div#feedback-modal.modal(style='display:none;')
    div.modal-header
      a.close(data-dismiss='modal') ×
      h2 Feedback
    div.modal-body
      p
        textarea.xlarge(rows=5, cols=80, style='width:500px')#feedback
    div.modal-footer
      a#submit-feedback.btn.btn-primary(data-dismiss='modal') Submit
      a.btn(data-dismiss='modal') Close

include includes/result_template
